.diatech-h, .diatech-f {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: rgb(2, 195, 131);
  font-size: 12px;
  font-weight: bold;
  color: white;
  padding: 0px 5px 0px 5px;
}
.diatech-f {
  justify-content: center;
  background-color: coral;
}
#printbtn {
  position: absolute;
  right: 0;
  margin: 1px;
}

#pvheader, #info {
  margin-bottom: 15px;
}

#home , #prev {
  margin: 10px 60px;
}

#home {
  font: small;
}

.ptime span {
  font-size: 30px;
}

#prev{
  display: none;
  font-size: 20px;
}
#pvheader {
  text-align: center;
  text-decoration: underline;
}

#pvsubheader, #info, #sign {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#pvsubheader {
  padding: 10px;
  border-bottom: 1px solid #000000;
  border-top: 1px solid #000000;
}

#pvsubheader img {
  max-height: 150px;
}

.rtl {
  direction: rtl;
}

#psytitle {
  display: none;
}

#prev-title h2, #psytitle {
  text-align: center;
}


#psylab {
  min-height: 100%;
  padding: 15% 0;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.tableFixHead { overflow: auto; height: 300px; }
.tableFixHead thead th { position: sticky; top: 0; z-index: 1; }

#item_input span > input {
  max-width: 100%;
  min-width: 100%;
}

/* #item_input span {
  background-color: rgba(220, 20, 60, 0.226);
} */
#item_input ,#grselect{
  min-width: 100%;
}

#inputs {
  width: 100%;

  /* background-color: #d9faee; */
}

#ordertable-prev>table tr {
  border: 1px solid black;
  padding: 8px;
}

#mdtable, #orderlist>table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #mdtable td, #mdtable th, #orderlist td, #orderlist th {
  border: 1px solid #ddd;
  padding: 8px;
}

#ordertable-prev td, #ordertable-prev th {
  border: 1px solid black;
  padding: 8px;
}

#mdtable tr:nth-child(even), #ordertable-prev>table tr:nth-child(even){background-color: #f2f2f2;}

#mdtable tr:hover {background-color: #ddd;}

#mdtable th, #orderlist th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
#list_title {
  font-size: 30px;
  font-weight: bold;
  margin: 25px;
  margin-bottom: 5px;
  color: coral;
}
#orderlist th {
  background-color: coral;
}

/* #item_input {
  display: flex;
} */

.namelab>label {
  font-size: smaller;
  font-weight: bold;
}
