
html {
    padding: 15px;
}

#mdtable, #orderlist>table, #list_title {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 60%;
  }
  
#mdtable td, #mdtable th, #orderlist td, #orderlist th {
  border: 1px solid #ddd;
  padding: 8px;
}

#mdtable tr:nth-child(even){background-color: #f2f2f2;}

#mdtable tr:hover {background-color: #ddd;}

#mdtable th, #orderlist th, #list_title {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

#item_input {
  display: flex;
}

.namelab>label {
  font-size: smaller;
  font-weight: bold;
}
